<div class="container">
    <div class="content ">
        <header id="cover-page">
            <div class="bg-cover-opacity"></div>
            <div class="informations">
            </div>
            <img class="perfil" src="http://images-cdn.9gag.com/photo/aOmz4ey_700b.jpg" alt="Perfil" />

            <h1 class="name">Leslie Pinto</h1>
            <p class="slogan">VP Business Development</p>
        </header>
        <div class="messages overflow-auto">
            <div class="row">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-12 mb-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="fa-solid fa-phone"></i></span>
                            <input type="text" placeholder="+14166052063">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-12 mb-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="fa-brands fa-whatsapp"></i></span>
                            <input type="text" placeholder="+51 943 502 063">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-12 mb-4">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="fa-regular fa-envelope"></i></span>
                            <input type="email" pIn placeholder="ipinto@viru.com.pe">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-12 mb-4">
                        <div class="p-inputgroup ni">
                            <span class="p-inputgroup-addon"><i class="fa-solid fa-location-dot"></i></span>
                            <textarea rows="2" cols="23"
                                placeholder="Av. Nicolas de Ribera 774 San Isidro, Lima, Perú"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col">
                    <a><img class="footer-img"
                            src="https://w7.pngwing.com/pngs/662/211/png-transparent-computer-icons-symbol-world-wide-web-miscellaneous-text-trademark.png"></a>
                    <a><img class="footer-img2" src="assets/img/linkedin.png"> </a>
                    <a><img class="footer-img" src="assets/img/instagram.jpg"></a>
                </div>
               
            </div>
            <div class="row">
                <div class="col">
                    <a class="posicion"><img class="footer-img4"  src="assets/img/add-user.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>