/*primeng*/
@import '~primeicons/primeicons';
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';

/*quill*/
@import '~quill/dist/quill.snow.css';
@import '~primeflex/primeflex.css';
/*bootstrap*/
@import '~bootstrap/scss/bootstrap';

/*fontawesome*/

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
